<img src="/Images/UltimaOnlineCursedSouls.png" alt="Ultima Online Logo" class="logo" />
<p class="text-block">
    Benvenuto nel nostro mondo di Ultima Online, uno shard costruito con passione e dedizione.
    Qui troverai razze uniche, classi personalizzate e un sistema lavorativo completamente rivisitato.
    Esplora terre misteriose, affronta sfide epiche e vivi un’esperienza immersiva e sempre aggiornata.
    Il nostro obiettivo è offrirti un mondo vivo, equilibrato e ricco di avventura.
    (Il server e ancora in pre-alpha siamo alla ricerca di gente come te, appasionata che voglia
    sviluppare, testare o creare il mondo di gioco. Contattaci!)
</p>